.background-image {
    background-image: url(../../Assets/images/front-back/background.png);
    background-position: center;
    background-size: cover;
}

.left-side {
    width: 40%;
}

.right-side {
    width: 60%;
}

.message-icon {
    background-color: rgb(32, 112, 112);
    border-radius: 50%;
    padding: 20px;
}