.Icons {
    width:15vmin;
    height: 15vmin;
    color:rgb(5, 98, 98);
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .Icons {
      animation: Icons-spin infinite 20s linear;
    }
  }
